html {
    transition: 0.7s;
}
.success {
    margin-top: 7rem;
    background-color: white;
    padding: 4rem;
    border: 2px solid green;
    border-radius: .5rem;
    width: 400px;
}
.success img {
    width: 60px;
    border-radius: 50%;
}

.success a {
    text-decoration: none;
    background-color: rgb(75, 73, 73);
    color: white;
    padding: 0.8rem;
    border-radius: .5rem;
    font-size: small;
}